.gestion-article-container {
    text-align: center;
    margin-top: 50px;
}

.action-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.action-link {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .action-link:hover {
        background-color: #0056b3;
    }
