.popup {
    position: fixed;
    width: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .popup-content label {
        display: flex;
        flex-direction: column;
    }

        .popup-content label textarea,
        .popup-content label input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;
        }

        .popup-content label textarea {
            min-height: 100px;
        }

    .popup-content button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .popup-content button:hover {
            background-color: #0056b3;
        }

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #aaa;
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}
